@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/buttons";

.Home h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.Home button {
  @extend .btn;
  @extend .btn-primary;
}

